/* Colors */
$background-color: #f5f5f2;
$background-color-2: #ffffff;
$background-color-3: #191919;
$background-color-3-hover: #282828;
$font-color: #bbbbbb;
$font-color-1: #444444;
$font-color-1-hover: #a4a4a4;
$border-botom-color: #efefee;

/* Font sizes  */
$paragraph-font-size: 16px;


/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;