.table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    
    .table-wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        max-width: 780px;
        margin-top: 30px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px;

    
        .column {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 0 15px;;
        }
    }
  
    .table-row {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        padding-top: 10px;
        border-bottom: 1.5px solid $line-color;
            
        p {
            display: inline-block;
            font-weight: bold;
    
            &:last-of-type {
                color: $font-color-1;
                font-weight: normal;

            }
        }
    }  
}

@media (max-width: 550px) {
    .table {
        height: 100%;
        margin: 15px 0;
        .table-wrapper {
            flex-direction: column;
            align-items: center;
            .column{
                width: 100%;
                padding: 0 25px;
            }
        }
    }
}