nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 55px;
    border-bottom: 1px solid $line-color;
    color: $font-color;
    background-color: $background-color-2;
    z-index: 3;

    .topbar-menu {
        display: flex;
    }

    .topbar-list {
        display: flex;
        align-items: center;
        margin: 0;
        flex-direction: row;
        
        .topbar-list-item {
            display: flex;
            align-items: center;
            height: 100%;
            list-style: none;
            border-left: 1px solid $line-color;
            [class*='icon-'] {
                color: $font-color;
                margin: 20px;
            }
        }
    }

    li:hover {
        [class*='icon-'] {
            margin: 20px;
            color: $btn-color !important;
        }
    }

    .user-name{
        font-size: 14px;
        color: #033dfc;
        margin-right: 25px;
    }

    .balance {
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}